*
!*.yaml
!.gitignore
Scripts
secrets.yaml
known_devices.yaml
state.json
dehydrated
deps
emulated_hue_ids.json
events.log
harmony_harmony_hub.conf
home-assistant.log
home-assistant_v2.db
phue-0017882e850f.conf
plex.conf
state.json
.uuid
.HA_VERSION
